@media (max-width: 1299px) {
  .team-slider .owl-nav {
    top: auto;
    position: relative;
    padding-top: 40px;
    transform: translate(0);
  }
  .team-slider .owl-nav [class*="owl-"] {
    position: relative;
    margin: 10px 10px 0;
  }

  .team-slider .owl-prev {
    left: auto;
  }

  .team-slider .owl-next {
    right: auto;
  }
}

@media (min-width: 1199px) {
  .blog-list .blog-item {
    max-width: 100%;
    margin: 20px auto;
    background-color: #ebebeb;
  }

  .blog-head,
  .blog-bottom {
    width: 50%;
    display: inline-block;
    float: left;
  }

  .blog-list .post-bottom {
    padding: 5px 15px;
  }

  .blog-list .blog-item .post-content {
    padding: 23px;
  }
}

@media (max-width: 1199px) {
  .menubar .search-domain h4 {
    font-size: 30px;
  }

  .search-domain .form-inline .form-control {
    width: 65%;
  }

  .select-wrapper {
    width: 21%;
  }


  .footer {
    padding-top: 0;
  }

  .host-subscribe {
    width: 100%;
    margin-top: 0;
    position: relative;
    margin: 0 auto;
  }

  .subscribe-box {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .subs-heading,
  .subs-btn {
    float: none;
  }

  .sub-wrap {
    padding: 0;
  }

  .subs-heading h3 {
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
  }

  .subs-btn {
    text-align: center;
  }

  .single-pricing-item .plan-features {
    padding-left: 27px;
  }

  .pb-140 {
    padding-bottom: 80px;
  }

  .timeline-container {
    padding: 20px 0;
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .feature .tab-content {
    width: 320px;
    height: 320px;
    padding: 35px 70px;
  }

  .feature .feature-item {
    margin: 30px 0;
  }

  .feature .tab-content .tab-pane-f h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .feature .tab-content .tab-pane-f p {
    font-size: 14px;
  }

  .feature .fea-descrip.first .feature-item .f-item-icon {
    position: absolute;
    right: -175px;
  }

  .feature .fea-descrip.first .feature-item:nth-child(2) .f-item-icon {
    position: absolute;
    right: -135px;
  }

  .feature .fea-descrip.second .feature-item .f-item-icon {
    position: absolute;
    left: -175px;
  }

  .feature .fea-descrip.second .feature-item:nth-child(2) .f-item-icon {
    position: absolute;
    left: -135px;
  }

  .project-wrap,
  .faq-wrap {
    max-width: 480px;
  }

  .host-blue-warp .slide-text {
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .search-domain .container {
    max-width: 100%;
  }
  .top-socials,
  .top-links{
    text-align:center;
  }
  .list-group-item {
    font-size: 16px;
  }

  .service .panel-content {
    padding-top: 20px;
  }

  .service .list-group-item {
    font-size: 17px;
  }

  .feature .tab-content {
    padding: 45px;
    width: 100%;
    margin-top: 20px;
    height: auto;
    border-radius: 20px;
  }

  .feature .feature-item {
    margin: 10px auto;
    max-width: 400px;
    text-align: left;
  }

  .feature .fea-descrip .feature-item-link {
    padding: 19px 0;
  }

  .feature .fea-descrip.first .f-item-icon,
  .feature .fea-descrip.second .f-item-icon {
    width: 60px;
    height: 60px;
  }

  .feature .fea-descrip.first .f-item-icon,
  .feature .fea-descrip.first .feature-item:nth-child(2) .f-item-icon {
    right: 0;
  }

  .feature .fea-descrip.second .feature-item .f-item-icon,
  .feature .fea-descrip.second .feature-item:nth-child(2) .f-item-icon {
    right: 0;
    left: auto;
  }

  .hosting-fea.feature .fea-descrip .feature-item .feature-item-link .fea-text {
    background-color: transparent;
  }

  .plan-wrap {
    margin: 30px auto;
  }

  .feature .fea-descrip.first .feature-item .dot,
  .feature .fea-descrip.second .feature-item .dot {
    display: none;
  }

  .feature .fea-descrip .feature-item .feature-item-link .fea-text {
    background: none;
  }

  .pro-faq {
    display: block;
  }

  .project,
  .faq {
    width: 100%;
  }

  .project-wrap {
    padding: 0;
  }

  .sorting,
  .portfolio-columns .sorting {
    background-color: transparent;
    border-radius: 0;
  }

  .portfolio .sort-btn {
    margin: 5px;
  }

  .contact-menu {
    padding-right: 0;
  }

  .feature-2 .feature-content-holder {
    margin-top: 50px;
  }

  .price-heading::after {
    display: none;
  }

  .single-pricing {
    padding: 20px 0px;
    max-width: 400px;
    margin: 0 auto;
  }

  .single-pricing-item .plan-features {
    text-align: center;
    padding-left: 0;
  }

  .single-pricing-item .price-item {
    width: auto;
    display: block;
    float: none;
  }

  .host-blue-warp .slide-text {
    text-align: center;
  }

  .slide-text .slide-para {
    max-width: 550px;
  }

  .why-para {
    padding-bottom: 40px;
  }

  .why-para p {
    text-align: center;
  }

  .cart-total {
    margin-top: 40px;
  }

  .process-item {
    width: calc(100% / 2);
    margin-top: 30px;
  }
  .about-img{
    margin-bottom: 40px;
  }
  .callout{
    text-align:center
  }
}

@media (max-width: 767px) {
  .why-in {
    max-width: 400px;
    margin: 20px auto;
  }

  .service .sub-panel-descrip {
    width: 48%;
    padding: 10px 0;
  }

  .service .list-group li {
    width: 48%;
    margin: 0 1% 10px;
  }

  .service .list-group-item.active::after {
    display: none;
  }

  .vps-content .vps-item {
    width: 48%;
    margin: 0 1%;
    margin-bottom: 10px;
  }

  .contact-menu,
  .quick-link,
  .host-links {
    margin-bottom: 50px;
  }

  .subs-heading h3 {
    font-size: 28px;
  }

  .host-slider1 .owl-nav {
    display: none;
  }

  .top-banner h2 {
    font-size:30px;
  }

  table {
    border: 0;
    font-size: 13px;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 10px;
  }

  table td {
    display: block;
    text-align: right;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-align: left;
    font-weight: bold;
    width: 70%;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .process-item {
    width: 100%;
  }

  .sign-in h3,
  .sign-up h3 {
    font-size: 30px;
  }

  #host-map {
    height: 300px;
    width: 100%;
  }

  .page-404 h4 {
    font-size: 100px;
  }

  .sub-com {
    margin-left: 0;
  }

  .typography .domain-post {
    width: 50%;
    margin-bottom: 20px;
  }
  .slide-text .slide-para {
    display: none;
  }
  .slide-text h2 {
    margin-bottom: 20px;
  }
  .host-pakage {
    margin-top: 20px;
  }
  .slide-text h2 {
    font-size: 35px;
  }
}

@media (max-width: 575px) {
  .all-title h3 {
    font-size: 35px;
  }

  .host-pakage li {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .host-pakage li p {
    text-align: center;
    margin-right: 0;
  }

  .host-pakage .host-btn {
    margin-top: 5px;
    padding: 11px 18px;
  }

  .host-slider1 .owl-nav i {
    padding: 0px 7px;
  }

  .search-domain .form-inline .form-control {
    width: 100%;
    border-radius: 0;
  }

  .select-wrapper {
    width: 100%;
    margin: 10px 0;
  }

  .domain-search-box .host-btn {
    width: 100%;
    border-radius: 0;
  }

  .service .sub-panel-descrip {
    width: 100%;
  }

  .feature .tab-content {
    padding: 25px 15px;
    width: 100%;
  }

  .feature .fea-descrip.first .feature-item .f-item-icon,
  .feature .fea-descrip.second .feature-item .f-item-icon {
    width: 50px;
    height: 50px;
  }

  .feature .fea-descrip .feature-item .feature-item-link {
    font-size: 14px;
    padding: 14px 0;
  }

  .pro-item .funfact {
    width: 90%;
    float: left;
    margin: 1% 5%;
    padding: 25px;
  }

  .fun-in {
    position: relative;
    text-align: center;
    padding: 0;
  }

  .fun-icon {
    position: relative;
  }

  .team-members .item {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
  }

  .feature-2 .feature-content-holder {
    padding: 40px;
  }

  .feature-list-group {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 80px;
  }

  .banner-links li a,
  .banner-links li span {
    padding: 0 5px;
  }

  .sign-in-wrap,
  .sign-up-wrap {
    padding: 25px;
  }

  .domain-post {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .typography .domain-post {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .login-panel,
  .register-panel {
    padding: 25px;
  }
}

@media (max-width: 380px) {
  .service .list-group li {
    width: 100%;
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .service .tab-pane {
    width: 100%;
    padding: 20px;
  }

  .vps-content .vps-item {
    width: 100%;
    margin: 0 auto 10px;
  }

  .vps-content .cost {
    margin-top: 10px;
    font-size: 30px;
  }

  .login-panel,
  .register-panel {
    width: 240px;
  }
}

@media (min-width: 992px) {
  .menubar .drop-menu {
    position: absolute;
    padding: 0;
    top: 100%;
    border: 0;
    border-radius: 0;
    left: -18px;
    min-width: 200px;
    z-index: 1000;
    float: none;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    display: block;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
  }
  .navbar-nav,
  .navbar {
    display: block;
  }
  .header-green .navbar {
    max-width: 800px;
    margin: 0 auto;
  }

  .menubar .nav-item {
    display: inline-block;
    margin-left:25px;
  }
  
  .header-blue .menubar .drop-menu {
    border-top-width: 2px;
    border-top-style: solid;
  }
  .header-blue .navbar-nav {
    display: block;
    text-align:right;
  }

  .header-blue .mega-menu {
    border-top-width: 4px;
    border-top-style: solid;
    left: 50%;
    right: auto;
    -webkit-transform: scaleY(0) translateX(-50%);
    -ms-transform: scaleY(0) translateX(-50%);
    transform: scaleY(0) translateX(-50%);
  }

  .mega-menu {
    top: 100%;
    right: 0;
    position: absolute;
    min-width: 200px;
    z-index: 99;
    background-color: #fff;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    display: block;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    z-index: 999;
  }

  .menubar .dropdown-item {
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 0 10px 20px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }  
  .level-1 li{
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }
  .level-1 li:last-child {
    border-bottom: 0;
  }

  .menubar .dropdown-item:hover {
    color: #fff;
  }


  .menubar .navbar-nav .nav-link {
    padding:32px 0;
  }
  .sub-menu-item,
  .sub-menu-item-2{
    position: absolute;
    padding: 0;
    top:0;
    border: 0;
    border-radius: 0;
    left:-100%;
    min-width: 200px;
    z-index: 1000;
    float: none;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    display: block;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
  }
  .has-sub:hover .sub-menu-item,
  .has-sub-2:hover .sub-menu-item-2 {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
   }
  .mega-dropdown:hover .mega-menu,
  .menubar .drop:hover .drop-menu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }

  .header-blue .mega-dropdown:hover .mega-menu {
    -webkit-transform: scaleY(1) translateX(-50%);
    -ms-transform: scaleY(1) translateX(-50%);
    transform: scaleY(1) translateX(-50%);
  }

  .drop {
    position: relative;
  }

  .mega-menu .dropdown-item {
    padding: 10px 0 10px 30px;
  }

  .menu-item {
    
  }

  .menu-item:last-child {
    border-right: none;
  }

  .menu-item h3 {
    font-size: 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0 15px 20px;
    display: none;
  }

  .sub-menu {
    display: table;
    min-width: 200px;
    right: 0;
  }

  .sub-menu .menu-item {
    display: table-cell;
    min-width: 200px;
  }

  .header-wrap:after {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    background-color: #fff;
    height: 80px;
    width: 50%;
    z-index: 1;
  }

  .head-detail:before {
    content: "";
    top: -38px;
    left: -16px;
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 78px;
    -webkit-transform: rotate(-28deg);
    -ms-transform: rotate(-28deg);
    transform: rotate(-28deg);
    z-index: -1;
  }

  .head-detail {
    background-color: #fff;
    color: #707070;
    min-height: 80px;
    border-radius: 0 0 0 50px;
  }

  .logs .drops .drop-links {
    color: #707070;
  }

  .header-wrap .logo {
    padding: 19px 0;
    text-align: left;
  }

  .header-wrap .logo img {
    width: auto;
  }

  .top-logs-area .cal-us {
    padding: 29px 0;
  }

  .top-logs-area .logs {
    padding: 29px 0;
  }

  .top-logs-area .cal-us {
    margin-left: 15px;
  }


  .why-us {
    background-image: url(../img/icons/rocket-2.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 20%;
  }

  .cart-total {
    margin-left: 40px;
  }

  .total-items {
    padding-top: 25px;
  }

  .process-item::after {
    position: absolute;
    content: ".....................";
    white-space: nowrap;
    font-size: 50px;
    z-index: -1;
    top: 3%;
    -webkit-transform: translateX(5%);
    -ms-transform: translateX(5%);
    transform: translateX(5%);
    letter-spacing: 4px;
  }

  .sign-in {
    background-image: url(../img/icons/rocket-login.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .sign-up {
    background-image: url(../img/icons/rocket-register.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media only screen and (min-width: 1199px) {

  .timeline-container {
    padding: 100px 0;
  }

  .timeline-container::before {
    left: 50%;
    margin-left: -2px;
  }

  .timeline-block:first-child {
    margin-top: 0;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }

  .timeline-img {
    width: 60px;
    top: 3px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }

  .timeline-img i {
    font-size: 25px;
    padding-top: 14px;
  }

  .timeline-content {
    margin: 0 10px;
    width: 38%;
  }

  .timeline-content .cd-read-more {
    float: left;
  }

  .timeline-block:nth-child(odd) .timeline-content {
    float: right;
  }

  .top-dot::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: -1px;
    margin-left: -3px;
  }

  .top-dot::before {
    content: "";
    top: -6px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    margin-left: -8px;
    width: 17px;
    height: 17px;
    border-width: 3px;
    border-style: solid;
  }

  .bot-dot::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    bottom: -1px;
    margin-left: -3px;
  }

  .bot-dot::before {
    content: "";
    bottom: -6px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    margin-left: -8px;
    width: 17px;
    height: 17px;
    border-width: 3px;
    border-style: solid;
  }

  .side-dot.inverse {
    right: 115px;
  }

  .side-mark.inverse {
    right: 54px;
    left: auto;
  }

  .side-dot {
    position: absolute;
    right: -56px;
    top: 20px;
    z-index: 9;
  }

  .side-mark {
    position: absolute;
    top: 22px;
    width: 50px;
    height: 4px;
    left: 52px;
  }

  .side-dot::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -1px;
  }

  .side-dot::before {
    content: "";
    bottom: -12px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    margin-left: -6px;
    width: 17px;
    height: 17px;
    border-width: 3px;
    border-style: solid;
  }
}

@media (min-width: 576px) {

  .feature-2 .feature-image {
    position: absolute;
    left: 0;
    z-index: 9;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
  }

  .f-holder .dot {
    position: absolute;
    display: block;
    z-index: 0;
    top: 10px;
    color: #959595;
  }

  .f-holder .dot:before {
    position: absolute;
    font-size: 25px;
    white-space: nowrap;
    content: "................";
    z-index: -1;
    font-size: 30px;
  }

  .f-holder.first .dot:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -109px;
    top: 56px;
  }

  .f-holder.fifth .dot:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -109px;
    bottom: 16px;
  }

  .f-holder.second .dot:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -153px;
    top: 22px;
  }

  .f-holder.fourth .dot:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -165px;
    bottom: 0;
  }

  .f-holder.third .dot:before {
    left: -175px;
  }

  .f-holder.first,
  .f-holder.fifth {
    left: -155px;
  }

  .f-holder.second,
  .f-holder.fourth {
    left: -60px;
  }

  .page-prev {
    text-align: left;
    float: left;
  }

  .page-next {
    text-align: right;
    float: right;
  }
}
