/* ******* KNIPPER COLORS START ******* */

$knipper_blue: #003087;
$knipper_red: #9C2743;
$knipper_green: #74AA50;
$lime_green: #9bbc4f;
$aqua_blue: #6cc8bf;
$lgt_blue: #b9e2f2;
$white: #ffffff;
$black: #000000;
$drk_grey: #262626;
$mid_grey1: #4d4d4d;
$mid_grey2: #888888;
$mid_grey3: #707070;
$mid_grey4: #777777;
$mid_grey5: #767676;
$very_lgt_grey: #efefef;
$very_lgt_grey2: #ebebeb;
$orange: #f79520;
$knipper_yellow: #C69C2B;
$pale_yellow: #efdeb3;
$purple: #452d7b;
$dark_blue: #0c2756;
$brochure_row: #F0F5F7;

/* ******* KNIPPER COLORS END ******* */