@import "../base/colors";
@import "../base/fonts";

/* ******* KNIPPER BROCHURES PAGE START ******* */

div#et-main-area {
    div#main-content {
        article.page {
            div.entry-content {
                div#brochure-hero-section {
                    padding-top: 0 !important;
                    div#brochure-row-hero {
                        div#brochure-hero-col {

                        }
                    }
                }
                div#brochure-body-top {
                    div#brochures-breadcrumb-row {
                        div#brochures-yoast-breadcrumb {
                            .breadcrumbs.brochures {
                                color: $mid_grey1;
                                font-family: $font_r;
                                font-weight: 500;
                                font-size: 16px !important;
                            }
                            .breadcrumbs a {
                                color: $mid_grey1 !important;
                            }
                            .breadcrumbs a:hover {
                                color: $dark_blue !important;
                                text-decoration: underline;
                            }

                        }
                    }
                    div#brochure-row-topbody {
                        div.brochure-topbody-col {
                            h2 {
                                text-align: center;
                                color: $mid_grey1;
                                font-family: $font_r;
                                font-weight: 600;
                                font-size: 45px !important;
                                line-height: 54px !important;
                            }
                            div#triple-diamonds {
                            }
                            div#brochure-jump-links {
                                max-width: 1050px;
                                text-align: center;
                                margin: 0 auto !important;
                                div.et_pb_text_inner {
                                    display: flex;
                                    justify-content: space-evenly;
                                    span.brochure-link-span {
                                        @include medium();
                                        font-size: 24px !important;
                                        line-height: 32px;
                                        padding: 2% 0 1% 0;
                                        a.brochure-link {
                                            text-decoration: underline;
                                        }
                                        .blue {
                                            color: $knipper_blue;
                                        }
                                        .green {
                                            color: $knipper_green;
                                        }
                                        .red {
                                            color: $knipper_red;
                                        }
                                    }
                                }

                            }
                            div.body-copy {
                                max-width: 1150px;
                                margin: 0 auto !important;
                                p.p1 {
                                    font-size: 22px;
                                    line-height: 32px;
                                    text-align: center;
                                    padding: 4% 0 4% 0;
                                }
                            }
                            a#brochure-cta-btn {
                                margin: 0 auto !important;
                                &:hover{
                                    background-image: url(/wp-content/themes/knipper/images/bro-btn-hover-large-yellow-430x60.png);
                                    &:after{
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                div.section-brochures {
                    padding: 35px 0 100px 0 !important;
                    .text-blue{
                        color: $knipper_blue !important;
                    }
                    .text-green{
                        color: $knipper_green !important;
                    }
                    .text-red{
                        color: $knipper_red !important;
                    }
                    div.brochure-row {
                        div#brochures-corporate,
                        div#brochures-msm,
                        div#brochures-custom-pharm,
                        div#brochures-3rd-party {
                        width: 100%;
                            h3 {
                                @include medium();
                                font-size: 24px;
                                line-height: 37px;
                                color: $mid_grey1;
                                padding-bottom: 0;
                                margin: 40px 0 40px 0;
                            }
                            a.mobile-toggle {
                                display: none;
                            }
                        }
                    }
                    div.brochure-row {
                        display: flex;
                        width: 100%;
                        max-width: 1360px;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: row;
                        padding: 0 !important;
                        margin: 0 auto !important;
                        div.brochure-col-left {
                            align-items: flex-start;
                        }
                        div.brochure-col-center {
                            align-items: center;
                        }
                        div.brochure-col-right {
                            align-items: flex-end;
                        }
                        .et_pb_column {
                            flex-direction: column;
                            display: flex;
                            justify-content: center;
                            margin: 0;
                            float: unset;
                            align-items: center;
                            text-align: center;
                            width: 100%;
                            div.brochure-card {
                                background-color: $white;
                                padding: 0 0 30px 0;
                                border-radius: 20px;
                                overflow: hidden !important;
                                width: 100% !important;
                                height: 100% !important;
                                max-width: 360px !important;
                                max-height: 470px !important;
                                -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                margin-bottom: 0px !important;
                                    div.et_pb_text_inner {
                                        display: flex;
                                        flex-direction: column;
                                        height: 100%;
                                        div.brocard-img-wrapper {

                                            img.brocard-img {

                                            }
                                        }
                                        div.brocard-content-wrapper {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            height: 100%;
                                            padding: 0;
                                            align-items: center;
                                            h3.brocard-h3 {
                                                @include medium();
                                                font-size: 22px;
                                                line-height: 32px;
                                                text-align: center;
                                                margin: 0;
                                                height: 87px;
                                                padding: 0;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                padding: 20% 15px 38%;
                                                font-variant-ligatures: no-common-ligatures;
                                            }
                                            div.brocard-btn-wrapper {
                                                text-align: center;
                                                margin: 0 auto !important;
                                                position: absolute;
                                                bottom: 0;
                                            }
                                        }
                                    }
                            }
                            div#brocard-2 {
                                    div.et_pb_text_inner {
                                        div.brocard-content-wrapper {
                                            h3.brocard-h3 {
                                                padding: 20% 25px 38%;
                                            }
                                        }
                                }
                            }
                            div#brocard-3 {
                                    div.et_pb_text_inner {
                                        div.brocard-content-wrapper {
                                            h3.brocard-h3 {
                                                padding: 20% 55px 38%;
                                            }
                                        }
                                }
                            }
                            div#brocard-6 {
                                    div.et_pb_text_inner {
                                        div.brocard-content-wrapper {
                                            h3.brocard-h3 {
                                                padding: 20% 75px 38%;
                                            }
                                        }
                                }
                            }
                            div#brocard-8 {
                                    div.et_pb_text_inner {
                                        div.brocard-content-wrapper {
                                            h3.brocard-h3 {
                                                padding: 20% 75px 38%;
                                            }
                                        }
                                }
                            }
                            div#brocard-9 {
                                    div.et_pb_text_inner {
                                        div.brocard-content-wrapper {
                                            h3.brocard-h3 {
                                                padding: 20% 70px 38%;
                                            }
                                        }
                                }
                            }
                            div#brocard-11 {
                                    div.et_pb_text_inner {
                                        div.brocard-content-wrapper {
                                            h3.brocard-h3 {
                                                padding: 20% 70px 38%;
                                            }
                                        }
                                }
                            }
                            .video-items-module div.brochure-card {
                                padding: 0;
                            }
                        }
                        div.brochure-col-grid {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                            grid-column-gap: 30px;
                            grid-row-gap: 50px;
                            justify-items: center;
                            align-items: flex-start;
                            div#brocard-4 {
                                grid-area: 1 / 1 / 2 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-5 {
                                grid-area: 1 / 2 / 2 / 3;
                            }
                            div#brocard-6 {
                                grid-area: 1 / 3 / 2 / 4;
                                justify-self: flex-end;
                            }
                            div#brocard-7 {
                                grid-area: 2 / 1 / 3 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-8 {
                                grid-area: 2 / 2 / 3 / 3;
                            }
                        }
                    }
                }
                .color {
                    background-color: $brochure_row;
                }
                div#brochures-3rd-party-section {
                    /* padding: 35px 0 0 0 !important; */
                    div.brochure-col-grid {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        grid-column-gap: 30px;
                        grid-row-gap: 50px;
                        justify-items: center;
                        align-items: flex-start;
                        div#brocard-9 {
                            grid-area: 1 / 1 / 2 / 2;
                            justify-self: flex-start;
                        }
                        div#brocard-10 {
                            grid-area: 1 / 2 / 2 / 3;
                        }
                        div#brocard-11 {
                            grid-area: 1 / 3 / 2 / 4;
                            justify-self: flex-end;
                        }
                        div#brocard-12 {
                            grid-area: 2 / 1 / 3 / 2;
                            justify-self: flex-start;
                        }
                        div#brocard-13 {
                            grid-area: 2 / 2 / 3 / 3;
                        }
                        div#brocard-14 {
                            grid-area: 2 / 3 / 3 / 4;
                            justify-self: flex-end;
                        }
                        div#brocard-15 {
                            grid-area: 3 / 1 / 4 / 2;
                            justify-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1400px) {
    div#et-main-area div#main-content article.page div.entry-content div.section-brochures div.brochure-row {
        width: 88%;
        max-width: 1200px;
    }
}
@media all and (max-width: 1250px) {
    div#et-main-area div#main-content article.page div.entry-content div.section-brochures div.brochure-row {
        width: 95%;
        max-width: 1200px;
    }
    div#et-main-area div#main-content article.page div.entry-content div#brochure-body-top div#brochure-row-topbody div.brochure-topbody-col div#brochure-jump-links div.et_pb_text_inner span.brochure-link-span {
    font-size: 20px !important;
    line-height: 32px;
    padding: 2% 0 1% 0;
    }
}
@media all and (max-width: 1024px) {
    div#et-main-area {
        div#main-content {
            article.page {
                div.entry-content {
                    div#brochure-hero-section {
                        padding-top: 0 !important;
                        div#brochures-row-hero {
                            div#brochure-hero-col {

                            }
                        }
                    }
                    div#brochure-body-top {
                        div#brochures-breadcrumb-row {
                            div#brochures-yoast-breadcrumb {
                                .breadcrumbs.brochures {
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 500;
                                    font-size: 16px !important;
                                }
                                .breadcrumbs a {
                                    color: $mid_grey1 !important;
                                }
                                .breadcrumbs a:hover {
                                    color: $dark_blue !important;
                                    text-decoration: underline;
                                }

                            }
                        }
                        div#brochure-row-topbody {
                            div.brochure-topbody-col {
                                h2 {
                                    text-align: center;
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 600;
                                    font-size: 36px !important;
                                    line-height: 46px !important;
                                }
                                div#triple-diamonds {
                                }
                                div#brochure-jump-links {
                                    max-width: 1050px;
                                    text-align: center;
                                    margin: 0 auto !important;
                                    div.et_pb_text_inner {
                                        display: flex;
                                        justify-content: space-evenly;
                                        span.brochure-link-span {
                                            @include medium();
                                            font-size: 24px !important;
                                            line-height: 32px;
                                            padding: 2% 0 1% 0;
                                            a.brochure-link {
                                                text-decoration: underline;
                                            }
                                            .blue {
                                                color: $knipper_blue;
                                            }
                                            .green {
                                                color: $knipper_green;
                                            }
                                            .red {
                                                color: $knipper_red;
                                            }
                                        }
                                    }

                                }
                                div.body-copy {
                                    max-width: 776px;
                                    margin: 0 auto !important;
                                    p.p1 {
                                        font-size: 22px;
                                        line-height: 32px;
                                        text-align: center;
                                        padding: 4% 0 4% 0;
                                    }
                                }
                                a#brochure-cta-btn {
                                    margin: 0 auto !important;
                                }
                            }
                        }
                    }
                    div.section-brochures {
                        padding: 35px 0 100px 0 !important;
                        .text-blue{
                            color: $knipper_blue !important;
                        }
                        .text-green{
                            color: $knipper_green !important;
                        }
                        .text-red{
                            color: $knipper_red !important;
                        }
                        div.brochure-row {
                            div#brochures-corporate,
                            div#brochures-msm,
                            div#brochures-custom-pharm,
                            div#brochures-3rd-party {
                            width: 100%;
                                h3 {
                                    @include medium();
                                    font-size: 24px;
                                    line-height: 37px;
                                    color: $mid_grey1;
                                    padding-bottom: 0;
                                    margin: 40px 0 40px 0;
                                }
                                a.mobile-toggle {
                                    display: none;
                                }
                            }
                        }
                        div.brochure-row {
                            display: flex;
                            width: 100%;
                            max-width: 776px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-direction: row;
                            padding: 0 !important;
                            margin: 0 auto !important;
                            flex-wrap: wrap ;
                            div.brochure-col-left {
                                align-items: flex-start;
                                justify-content: space-between;
                                width: 50%;
                            }
                            div.brochure-col-center {
                                align-items: flex-end;
                                justify-content: space-between;
                                width: 50%;
                            }
                            div.brochure-col-right {
                                display: none;
                            }
                            .et_pb_column {
                                flex-direction: column;
                                display: flex;
                                justify-content: center;
                                margin: 0;
                                float: unset;
                                align-items: center;
                                text-align: center;
                                width: 100%;
                                div.brochure-card {
                                    background-color: $white;
                                    padding: 0 0 30px 0;
                                    border-radius: 20px;
                                    overflow: hidden !important;
                                    width: 100% !important;
                                    height: 100% !important;
                                    max-width: 350px !important;
                                    max-height: 456px !important;
                                    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    margin-bottom: 0px !important;
                                        div.et_pb_text_inner {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                            div.brocard-img-wrapper {

                                                img.brocard-img {

                                                }
                                            }
                                            div.brocard-content-wrapper {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                height: 100%;
                                                padding: 0;
                                                align-items: center;
                                                h3.brocard-h3 {

                                                    text-align: center;
                                                    margin: 0;
                                                    height: 87px;
                                                    padding: 0;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    padding-top: 20%;
                                                    padding-bottom: 38%;
                                                }
                                                div.brocard-btn-wrapper {
                                                    text-align: center;
                                                    margin: 0 auto !important;
                                                    position: absolute;
                                                    bottom: 0;
                                                }
                                            }
                                        }
                                }
                                .video-items-module div.brochure-card {
                                    padding: 0;
                                }
                            }
                            div.brochure-col-grid {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                grid-template-rows: repeat(3, 1fr);
                                grid-column-gap: 0px;
                                grid-row-gap: 50px;
                                justify-items: center;
                                align-items: flex-start;
                                div#brocard-4 {
                                    grid-area: 1 / 1 / 2 / 2;
                                    justify-self: flex-start;
                                }
                                div#brocard-5 {
                                    grid-area: 1 / 2 / 2 / 3;
                                    justify-self: flex-end;
                                }
                                div#brocard-6 {
                                    grid-area: 2 / 1 / 3 / 2;
                                    justify-self: flex-start;
                                }
                                div#brocard-7 {
                                    grid-area: 2 / 2 / 3 / 3;
                                    justify-self: flex-end;
                                }
                                div#brocard-8 {
                                    grid-area: 3 / 1 / 4 / 2;
                                    justify-self: flex-start;
                                }
                            }
                        }
                    }
                    .color {
                        background-color: $brochure_row;
                    }
                    div#brochures-3rd-party-section {
                        /* padding: 35px 0 0 0 !important; */
                        div.brochure-col-grid {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        grid-column-gap: 0px;
                        grid-row-gap: 50px;
                        justify-items: center;
                        align-items: flex-start;
                            div#brocard-9 {
                                grid-area: 1 / 1 / 2 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-10 {
                                grid-area: 1 / 2 / 2 / 3;
                                justify-self: flex-end;
                            }
                            div#brocard-11 {
                                grid-area: 2 / 1 / 3 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-12 {
                                grid-area: 2 / 2 / 3 / 3;
                                justify-self: flex-end;
                            }
                            div#brocard-13 {
                                grid-area: 3 / 1 / 4 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-14 {
                                grid-area: 3 / 2 / 4 / 3;
                                justify-self: flex-end;
                            }
                            div#brocard-15 {
                                grid-area: 4 / 1 / 5 / 2;
                                justify-self: flex-start;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    div#et-main-area {
        div#main-content {
            article.page {
                div.entry-content {
                    div#brochure-hero-section {
                        padding-top: 0 !important;
                        div#brochure-row-hero {
                            div#brochure-hero-col {
                                div.hero-heading{
                                    h1 {
                                    color: #fff;

                                    }
                                }
                            }
                        }
                    }
                    div#brochure-body-top {
                        div#brochures-breadcrumb-row {
                            div#brochures-yoast-breadcrumb {
                                .breadcrumbs.brochures {
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 500;
                                    font-size: 16px !important;
                                }
                                .breadcrumbs a {
                                    color: $mid_grey1 !important;
                                }
                                .breadcrumbs a:hover {
                                    color: $dark_blue !important;
                                    text-decoration: underline;
                                }

                            }
                        }
                        div#brochure-row-topbody {
                            div.brochure-topbody-col {
                                h2 {
                                    text-align: center;
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 600;
                                    font-size: 36px !important;
                                    line-height: 46px !important;
                                }
                                div#triple-diamonds {
                                }
                                div#brochure-jump-links {
                                    display: none;
                                    visibility: hidden;
                                    opacity: 0;
                                    div.et_pb_text_inner {
                                        display: flex;
                                        justify-content: space-evenly;
                                        span.brochure-link-span {
                                            @include medium();
                                            font-size: 24px !important;
                                            line-height: 32px;
                                            padding: 2% 0 1% 0;
                                            a.brochure-link {
                                                text-decoration: underline;
                                            }
                                            .blue {
                                                color: $knipper_blue;
                                            }
                                            .green {
                                                color: $knipper_green;
                                            }
                                            .red {
                                                color: $knipper_red;
                                            }
                                        }
                                    }

                                }
                                div.body-copy {
                                    max-width: 776px;
                                    margin: 0 auto !important;
                                    p.p1 {
                                        font-size: 22px;
                                        line-height: 32px;
                                        text-align: center;
                                        padding: 4% 0 4% 0;
                                    }
                                }
                                a#brochure-cta-btn {
                                    margin: 0 auto !important;
                                    max-width: 80%;
                                    background-size: cover;
                                    font-size: 18px;
                                    line-height: 20px !important;
                                }
                            }
                        }
                    }
                    div.section-brochures {
                        padding: 0px 0 0px 0 !important;
                        .text-blue{
                            color: $knipper_blue !important;
                        }
                        .text-green{
                            color: $knipper_green !important;
                        }
                        .text-red{
                            color: $knipper_red !important;
                        }
                        div.brochure-row {
                            div#brochures-corporate,
                            div#brochures-msm,
                            div#brochures-custom-pharm,
                            div#brochures-3rd-party {
                            width: 100%;
                                h3 {
                                    @include medium();
                                    font-size: 20px;
                                    line-height: 37px;
                                    color: $mid_grey1;
                                    padding-bottom: 0;
                                    margin: 0;
                                    font-weight: 400 !important;
                                    display: flex;
                                    height: 70px;
                                    top: 0;
                                    justify-content: center;
                                    align-items: center;
                                }
                                a.mobile-toggle {
                                    display: block;
                                }
                            }
                        }
                        .brochure-heading-row {
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            height: 70px;
                            align-items: center;
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 400!important;
                            color: #fff;

                            .mobile-toggle{
                                width: 100px;
                                height: 100%;
                                padding: 0!important;
                                max-height: 70px;
                                border: none;
                                position: absolute;
                                right: 0;
                                top: 0;
                                z-index: 999;
                                background-color: transparent;
                                &:after{
                                    content: "";
                                    position: absolute;
                                    top: 31px;
                                    right: 20px;
                                    margin-left: 0;
                                    margin-top: 0;
                                    width: 0;
                                    z-index: 1;
                                    height: 0;
                                    border-bottom: solid 8px #fff;
                                    border-left: solid 8px transparent;
                                    border-right: solid 8px transparent;
                                    transform: rotate(180deg);
                                    transition: all .5s ease-in-out;
                                }
                            }
                            h3{
                                color: #fff !important;
                                font-size: 20px;
                                font-weight: 400 !important;
                                position: absolute;
                                top: 10px;
                            }
                        }
                        .brochure-heading-row.open-row{
                            .mobile-toggle{

                                &:after{
                                    transform: rotate(0deg);
                                    content: '';
                                }
                            }
                        }
                        .brochure-heading-row.mobile-yellow{
                            background-color: $knipper-yellow;
                        }
                        .brochure-heading-row.mobile-blue{
                            background-color: $knipper-blue;
                        }
                        .brochure-heading-row.mobile-green{
                            background-color: $knipper-green;
                        }
                        .brochure-heading-row.mobile-red{
                            background-color: $knipper-red;
                        }
                        div.brochure-row {
                            display: flex;
                            width: 100%;
                            max-width: 776px;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: column;
                            padding: 0 20px !important;
                            margin: 0 auto !important;
                            flex-wrap: wrap;
                            div.brochure-col-left,
                            div.brochure-col-center,
                            div.brochure-col-right {
                                align-items: center;
                                justify-content: space-between;
                                width: 50%;
                            }
                            .et_pb_column {
                                flex-direction: column;
                                display: flex;
                                justify-content: center;
                                margin: 0;
                                float: unset;
                                align-items: center;
                                text-align: center;
                                width: 100%;
                                padding: 0;
                                div.brochure-card {
                                    background-color: $white;
                                    padding: 0 0 30px 0;
                                    border-radius: 20px;
                                    overflow: hidden !important;
                                    width: 100% !important;
                                    height: 100% !important;
                                    max-width: 360px !important;
                                    max-height: 470px !important;
                                    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    margin-bottom: 0px !important;
                                        div.et_pb_text_inner {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                            div.brocard-img-wrapper {

                                                img.brocard-img {

                                                }
                                            }
                                            div.brocard-content-wrapper {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                height: 100%;
                                                padding: 0px 10px;
                                                align-items: center;
                                                h3.brocard-h3 {

                                                    text-align: center;
                                                    margin: 0;
                                                    height: 87px;
                                                    padding: 0;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    padding-top: 20%;
                                                    padding-bottom: 38%;
                                                }
                                                div.brocard-btn-wrapper {
                                                    text-align: center;
                                                    margin: 0 auto !important;
                                                    position: absolute;
                                                    bottom: 0;
                                                }
                                            }
                                        }
                                }
                                div#brocard-2 {
                                    margin-bottom: 40px !important;
                                }
                                div#brocard-2 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 25px 38%;
                                                }
                                            }
                                    }
                                }
                                div#brocard-3 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 55px 38%;
                                                }
                                            }
                                    }
                                }
                                div#brocard-6 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 75px 38%;
                                                }
                                            }
                                    }
                                }
                                div#brocard-8 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 75px 38%;
                                                }
                                            }
                                    }
                                }
                                div#brocard-9 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 60px 38%;
                                                }
                                            }
                                    }
                                }
                                div#brocard-11 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 50px 38%;
                                                }
                                            }
                                    }
                                }
                                div#brocard-13 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 40px 38%;
                                                }
                                            }
                                    }
                                }
                                div#brocard-15 {
                                        div.et_pb_text_inner {
                                            div.brocard-content-wrapper {
                                                h3.brocard-h3 {
                                                    padding: 20% 20px 38%;
                                                }
                                            }
                                    }
                                }
                                .video-items-module div.brochure-card {
                                    padding: 0;
                                }
                            }
                            div.brochure-col-grid {
                                display: flex;
                                justify-items: center;
                                align-items: center;
                                div#brocard-4 {
                                    grid-area: 1 / 1 / 2 / 2;
                                    justify-self: flex-start;
                                }
                                div#brocard-5 {
                                    grid-area: 1 / 2 / 2 / 3;
                                    justify-self: flex-end;
                                }
                                div#brocard-6 {
                                    grid-area: 2 / 1 / 3 / 2;
                                    justify-self: flex-start;
                                }
                                div#brocard-7 {
                                    grid-area: 2 / 2 / 3 / 3;
                                    justify-self: flex-end;
                                }
                                div#brocard-8 {
                                    grid-area: 3 / 1 / 4 / 2;
                                    justify-self: flex-start;
                                }
                            }
                        }
                        div.brochure-row.brochure-content-row {
                            display: none;
                            padding: 40px 20px 40px !important;
                        }
                        div.brochure-row.brochure-content-row.active-content {
                            display: flex;

                        }
                    }
                    .color {
                        background-color: $brochure_row;
                    }
                    div#brochures-3rd-party-section {
                        /* padding: 0px 0 0 0 !important; */
                        div.brochure-col-grid {
                        display: flex;
                        justify-items: center;
                        align-items: center;
                            div#brocard-9 {
                                grid-area: 1 / 1 / 2 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-10 {
                                grid-area: 1 / 2 / 2 / 3;
                                justify-self: flex-end;
                            }
                            div#brocard-11 {
                                grid-area: 2 / 1 / 3 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-12 {
                                grid-area: 2 / 2 / 3 / 3;
                                justify-self: flex-end;
                            }
                            div#brocard-13 {
                                grid-area: 3 / 1 / 4 / 2;
                                justify-self: flex-start;
                            }
                            div#brocard-14 {
                                grid-area: 3 / 2 / 4 / 3;
                                justify-self: flex-end;
                            }
                            div#brocard-15 {
                                grid-area: 4 / 1 / 5 / 2;
                                justify-self: flex-start;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
    div#et-main-area div#main-content article.page div.entry-content div.section-brochures div.brochure-row div#brochures-corporate h3,
    div#et-main-area div#main-content article.page div.entry-content div.section-brochures div.brochure-row div#brochures-msm h3,
    div#et-main-area div#main-content article.page div.entry-content div.section-brochures div.brochure-row div#brochures-custom-pharm h3,
    div#et-main-area div#main-content article.page div.entry-content div.section-brochures div.brochure-row div#brochures-3rd-party h3 {
        line-height: 20px !important;
    }
}

/* ******* KNIPPER BROCHURES PAGE END ******* */