@import "../base/colors";
@import "../base/fonts";

/* ******* KNIPPER VIDEoS PAGE START ******* */

div#et-main-area {
    div#main-content {
        article.page {
            div.entry-content {
                div#video-hero-section {
                    padding-top: 0 !important;
                    div#video-row-hero {
                        div#video-hero-col {

                        }
                    }
                }
                div#video-body-top {
                    div#videos-breadcrumb-row {
                        div#videos-yoast-breadcrumb {
                            .breadcrumbs.videos {
                                color: $mid_grey1;
                                font-family: $font_r;
                                font-weight: 500;
                                font-size: 16px !important;
                            }
                            .breadcrumbs a {
                                color: $mid_grey1 !important;
                            }
                            .breadcrumbs a:hover {
                                color: $dark_blue !important;
                                text-decoration: underline;
                            }

                        }
                    }
                    div#video-row-topbody {
                        div.video-topbody-col {
                            h2 {
                                text-align: center;
                                color: $mid_grey1;
                                font-family: $font_r;
                                font-weight: 600;
                                font-size: 45px !important;
                                line-height: 54px !important;
                            }
                            div#triple-diamonds {
                            }
                            div#video-jump-links {
                                max-width: 1050px;
                                text-align: center;
                                margin: 0 auto !important;
                                div.et_pb_text_inner {
                                    display: flex;
                                    justify-content: space-evenly;
                                    span.video-link-span {
                                        @include medium();
                                        font-size: 24px !important;
                                        line-height: 32px;
                                        padding: 2% 0 1% 0;
                                        a.video-link {
                                            text-decoration: underline;
                                        }
                                        .blue {
                                            color: $knipper_blue;
                                        }
                                        .green {
                                            color: $knipper_green;
                                        }
                                        .red {
                                            color: $knipper_red;
                                        }
                                    }
                                }

                            }
                            div.body-copy {
                                max-width: 1150px;
                                margin: 0 auto !important;
                                p.p1 {
                                    font-size: 22px;
                                    line-height: 32px;
                                    text-align: center;
                                    padding: 4% 0 4% 0;
                                }
                            }
                            a#video-cta-btn {
                                margin: 0 auto !important;
                            }
                        }
                    }
                }
                div.section-videos {
                    padding: 35px 0 20px 0 !important;
                    .text-blue{
                        color: $knipper_blue !important;
                    }
                    .text-green{
                        color: $knipper_green !important;
                    }
                    .text-red{
                        color: $knipper_red !important;
                    }
                    div.video-row {
                        div#videos-corporate,
                        div#videos-msm,
                        div#videos-custom-pharm,
                        div#videos-3rd-party {
                        width: 100%;
                            h3 {
                                @include medium();
                                font-size: 30px;
                                line-height: 37px;
                                color: $mid_grey1;
                                padding-bottom: 0;
                                margin: 40px 0 40px 0;
                            }
                            a.mobile-toggle {
                                display: none;
                            }
                        }
                    }
                    div.video-row {
                        display: flex;
                        width: 100%;
                        max-width: 1360px;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: row;
                        padding: 0 !important;
                        margin: 0 auto !important;
                        div.video-col-left {
                            align-items: flex-start;
                        }
                        div.video-col-center {
                            align-items: center;
                        }
                        div.video-col-right {
                            align-items: flex-end;
                        }
                        .et_pb_column {
                            flex-direction: column;
                            display: flex;
                            justify-content: center;
                            margin: 0;
                            float: unset;
                            align-items: center;
                            text-align: center;
                            width: 100%;
                            div.video-card {
                                background-color: $white;
                                padding: 0 0 30px 0;
                                border-radius: 20px;
                                overflow: hidden !important;
                                width: 100% !important;
                                height: 100% !important;
                                max-width: 625px !important;
                                max-height: 470px !important;
                                -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                margin-bottom: 40px !important;
                                    div.et_pb_text_inner {
                                        display: flex;
                                        flex-direction: column;
                                        height: 100%;
                                        div.vidcard-img-wrapper {

                                            img.vidcard-img {

                                            }
                                        }
                                        div.vidcard-content-wrapper {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            height: 75px;
                                            padding: 0;
                                            align-items: center;
                                            h3.vidcard-h3 {
                                                @include bold();
                                                font-size: 24px;
                                                line-height: 29px;
                                                text-align: center;
                                                margin: 0;
                                                height: 50px;
                                                padding: 0;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                padding-top: 20px;
                                                // padding-bottom: 38%;
                                            }
                                            div.vidcard-btn-wrapper {
                                                text-align: center;
                                                margin: 0 auto !important;
                                                position: absolute;
                                                bottom: 0;
                                            }
                                        }
                                    }
                            }
                            .video-items-module div.video-card {
                                padding: 0;
                            }
                        }
                    }
                }
                .color {
                    background-color: $brochure_row;
                }
                div#videos-3rd-party-section {
                    padding: 35px 0 0 0 !important;
                }
            }
        }
    }
}
@media all and (max-width: 1400px) {
    div#et-main-area div#main-content article.page div.entry-content div.section-videos div.video-row {
        width: 88%;
        max-width: 1200px;
    }
}
@media all and (max-width: 1250px) {
    div#et-main-area div#main-content article.page div.entry-content div.section-videos div.video-row {
        width: 95%;
        max-width: 1200px;
    }
    div#et-main-area div#main-content article.page div.entry-content div#video-body-top div#video-row-topbody div.video-topbody-col div#video-jump-links div.et_pb_text_inner span.video-link-span {
    font-size: 20px !important;
    line-height: 32px;
    padding: 2% 0 1% 0;
    }
    div#et-main-area div#main-content article.page div.entry-content div.section-videos div.video-row .et_pb_column {
        padding: 2%;
    }
}
@media all and (max-width: 1024px) {
    div#et-main-area {
        div#main-content {
            article.page {
                div.entry-content {
                    div#video-hero-section {
                        padding-top: 0 !important;
                        div#video-row-hero {
                            div#video-hero-col {

                            }
                        }
                    }
                    div#video-body-top {
                        div#videos-breadcrumb-row {
                            div#videos-yoast-breadcrumb {
                                .breadcrumbs.videos {
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 500;
                                    font-size: 16px !important;
                                }
                                .breadcrumbs a {
                                    color: $mid_grey1 !important;
                                }
                                .breadcrumbs a:hover {
                                    color: $dark_blue !important;
                                    text-decoration: underline;
                                }

                            }
                        }
                        div#video-row-topbody {
                            div.video-topbody-col {
                                h2 {
                                    text-align: center;
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 600;
                                    font-size: 36px !important;
                                    line-height: 46px !important;
                                }
                                div#triple-diamonds {
                                }
                                div#video-jump-links {
                                    max-width: 1050px;
                                    text-align: center;
                                    margin: 0 auto !important;
                                    div.et_pb_text_inner {
                                        display: flex;
                                        justify-content: space-evenly;
                                        span.video-link-span {
                                            @include medium();
                                            font-size: 24px !important;
                                            line-height: 32px;
                                            padding: 2% 0 1% 0;
                                            a.video-link {
                                                text-decoration: underline;
                                            }
                                            .blue {
                                                color: $knipper_blue;
                                            }
                                            .green {
                                                color: $knipper_green;
                                            }
                                            .red {
                                                color: $knipper_red;
                                            }
                                        }
                                    }

                                }
                                div.body-copy {
                                    max-width: 776px;
                                    margin: 0 auto !important;
                                    p.p1 {
                                        font-size: 22px;
                                        line-height: 32px;
                                        text-align: center;
                                        padding: 4% 0 4% 0;
                                    }
                                }
                                a#video-cta-btn {
                                    margin: 0 auto !important;
                                }
                            }
                        }
                    }
                    div.section-videos {
                        padding: 35px 0 20px 0 !important;
                        .text-blue{
                            color: $knipper_blue !important;
                        }
                        .text-green{
                            color: $knipper_green !important;
                        }
                        .text-red{
                            color: $knipper_red !important;
                        }
                        div.video-row {
                            div#videos-corporate,
                            div#videos-msm,
                            div#videos-custom-pharm,
                            div#videos-3rd-party {
                            width: 100%;
                                h3 {
                                    @include medium();
                                    font-size: 30px;
                                    line-height: 37px;
                                    color: $mid_grey1;
                                    padding-bottom: 0;
                                    margin: 40px 0 40px 0;
                                }
                                a.mobile-toggle {
                                    display: none;
                                }
                            }
                        }
                        div.video-row {
                            display: flex;
                            width: 100%;
                            max-width: 776px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-direction: row;
                            padding: 0 !important;
                            margin: 0 auto !important;
                            flex-wrap: wrap ;
                            div.video-col-left,
                            div.video-col-center,
                            div.video-col-right {
                                align-items: center;
                                justify-content: space-between;
                                width: 50%;
                            }
                            .et_pb_column {
                                flex-direction: column;
                                display: flex;
                                justify-content: center;
                                margin: 0;
                                float: unset;
                                align-items: center;
                                text-align: center;
                                width: 100%;
                                div.video-card {
                                    background-color: $white;
                                    padding: 0 0 30px 0;
                                    border-radius: 20px;
                                    overflow: hidden !important;
                                    width: 100% !important;
                                    height: 100% !important;
                                    max-width: 323px !important;
                                    max-height: 420px !important;
                                    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    margin-bottom: 40px !important;
                                        div.et_pb_text_inner {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                            div.vidcard-img-wrapper {

                                                img.vidcard-img {

                                                }
                                            }
                                            div.vidcard-content-wrapper {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                height: 100%;
                                                padding: 0;
                                                align-items: center;
                                                h3.vidcard-h3 {
                                                    @include bold();
                                                    font-size: 24px;
                                                    line-height: 29px;
                                                    text-align: center;
                                                    margin: 0;
                                                    height: 87px;
                                                    padding: 0;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    padding-top: 20%;
                                                    padding-bottom: 38%;
                                                }
                                                div.vidcard-btn-wrapper {
                                                    text-align: center;
                                                    margin: 0 auto !important;
                                                    position: absolute;
                                                    bottom: 0;
                                                }
                                            }
                                        }
                                }
                                .video-items-module div.video-card {
                                    padding: 0;
                                }
                            }
                        }
                    }
                    .color {
                        background-color: $brochure_row;
                    }
                    div#videos-3rd-party-section {
                        padding: 35px 0 0 0 !important;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    div#et-main-area {
        div#main-content {
            article.page {
                div.entry-content {
                    div#video-hero-section {
                        padding-top: 0 !important;
                        div#videos-row-hero {
                            div#video-hero-col {
                                div.hero-heading{
                                    h1 {
                                    color: #fff;
                                    padding-left: 30px;
                                    }
                                }
                            }
                        }
                    }
                    div#video-body-top {
                        div#videos-breadcrumb-row {
                            div#videos-yoast-breadcrumb {
                                .breadcrumbs.videos {
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 500;
                                    font-size: 16px !important;
                                }
                                .breadcrumbs a {
                                    color: $mid_grey1 !important;
                                }
                                .breadcrumbs a:hover {
                                    color: $dark_blue !important;
                                    text-decoration: underline;
                                }

                            }
                        }
                        div#video-row-topbody {
                            div.video-topbody-col {
                                h2 {
                                    text-align: center;
                                    color: $mid_grey1;
                                    font-family: $font_r;
                                    font-weight: 600;
                                    font-size: 36px !important;
                                    line-height: 46px !important;
                                }
                                div#triple-diamonds {
                                }
                                div#video-jump-links {
                                    display: none;
                                    visibility: hidden;
                                    opacity: 0;
                                    div.et_pb_text_inner {
                                        display: flex;
                                        justify-content: space-evenly;
                                        span.video-link-span {
                                            @include medium();
                                            font-size: 24px !important;
                                            line-height: 32px;
                                            padding: 2% 0 1% 0;
                                            a.video-link {
                                                text-decoration: underline;
                                            }
                                            .blue {
                                                color: $knipper_blue;
                                            }
                                            .green {
                                                color: $knipper_green;
                                            }
                                            .red {
                                                color: $knipper_red;
                                            }
                                        }
                                    }

                                }
                                div.body-copy {
                                    max-width: 776px;
                                    margin: 0 auto !important;
                                    p.p1 {
                                        font-size: 22px;
                                        line-height: 32px;
                                        text-align: center;
                                        padding: 4% 0 4% 0;
                                    }
                                }
                                a#video-cta-btn {
                                    margin: 0 auto !important;
                                    max-width: 80%;
                                    background-size: cover;
                                    font-size: 18px;
                                    line-height: 20px !important;
                                }
                            }
                        }
                    }
                    div.section-videos {
                        padding: 0px 0 0px 0 !important;
                        .text-blue{
                            color: $knipper_blue !important;
                        }
                        .text-green{
                            color: $knipper_green !important;
                        }
                        .text-red{
                            color: $knipper_red !important;
                        }
                        div.video-row {
                            div#videos-corporate,
                            div#videos-msm,
                            div#videos-custom-pharm,
                            div#videos-3rd-party {
                            width: 100%;
                                h3 {
                                    @include medium();
                                    font-size: 20px;
                                    line-height: 37px;
                                    color: $mid_grey1;
                                    padding-bottom: 0;
                                    margin: 0;
                                    font-weight: 400 !important;
                                }
                                a.mobile-toggle {
                                    display: block;
                                }
                            }
                        }
                        .video-heading-row {
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            height: 70px;
                            align-items: center;
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 400!important;
                            color: #fff;
                            
                            .mobile-toggle{
                                width: 100px;
                                height: 100%;
                                padding: 0!important;
                                max-height: 70px;
                                border: none;
                                position: absolute;
                                right: 0;
                                top: 0;
                                z-index: 999;
                                background-color: transparent;
                                &:after{
                                    content: "";
                                    position: absolute;
                                    top: 31px;
                                    right: 20px;
                                    margin-left: 0;
                                    margin-top: 0;
                                    width: 0;
                                    z-index: 1;
                                    height: 0;
                                    border-bottom: solid 8px #fff;
                                    border-left: solid 8px transparent;
                                    border-right: solid 8px transparent;
                                    transform: rotate(180deg);
                                    transition: all .5s ease-in-out;
                                }
                            }
                            h3{
                                color: #fff !important;
                                font-size: 20px;
                                font-weight: 400 !important;
                                position: absolute;
                                top: 10px;
                            }
                        }
                        .video-heading-row.open-row{
                            .mobile-toggle{
                                
                                &:after{
                                    transform: rotate(0deg);
                                    content: '';
                                }
                            }
                        }
                        .video-heading-row.mobile-yellow{
                            background-color: $knipper-yellow;
                        }
                        .video-heading-row.mobile-blue{
                            background-color: $knipper-blue;
                        }
                        .video-heading-row.mobile-green{
                            background-color: $knipper-green;
                        }
                        .video-heading-row.mobile-red{
                            background-color: $knipper-red;
                        }
                        div.video-row {
                            display: flex;
                            width: 100%;
                            max-width: 776px;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: column;
                            padding: 0 20px !important;
                            margin: 0 auto !important;
                            flex-wrap: wrap;
                            div.video-col-left,
                            div.video-col-center,
                            div.video-col-right {
                                align-items: center;
                                justify-content: space-between;
                                width: 50%;
                            }
                            .et_pb_column {
                                flex-direction: column;
                                display: flex;
                                justify-content: center;
                                margin: 0;
                                float: unset;
                                align-items: center;
                                text-align: center;
                                width: 100%;
                                div.video-card {
                                    background-color: $white;
                                    padding: 0 0 30px 0;
                                    border-radius: 20px;
                                    overflow: hidden !important;
                                    width: 100% !important;
                                    height: 100% !important;
                                    max-width: 323px !important;
                                    max-height: 420px !important;
                                    -webkit-box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
                                    margin-bottom: 40px !important;
                                        div.et_pb_text_inner {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                            div.vidcard-img-wrapper {

                                                img.vidcard-img {

                                                }
                                            }
                                            div.vidcard-content-wrapper {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                height: 100%;
                                                padding: 0px 10px;
                                                align-items: center;
                                                h3.vidcard-h3 {
                                                    @include bold();
                                                    font-size: 24px;
                                                    line-height: 29px;
                                                    text-align: center;
                                                    margin: 0;
                                                    height: 87px;
                                                    padding: 0;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    padding-top: 20%;
                                                    padding-bottom: 38%;
                                                }
                                                div.vidcard-btn-wrapper {
                                                    text-align: center;
                                                    margin: 0 auto !important;
                                                    position: absolute;
                                                    bottom: 0;
                                                }
                                            }
                                        }
                                }
                                .video-items-module div.video-card {
                                    padding: 0;
                                }
                            }
                        }
                        div.video-row.video-content-row {
                            display: none;
                            padding: 40px 20px 0 !important;
                        }
                    }
                    .color {
                        background-color: $brochure_row;
                    }
                    div#videos-3rd-party-section {
                        padding: 0px 0 0 0 !important;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
	
}

/* ******* KNIPPER VIDEoS PAGE END ******* */